#header {
  height: 60px;
  width: 100%;
  position: fixed;
  padding-bottom: 60px;
  top: 0;
  left: 0;
  background-color: #131536;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
  z-index: 90;    
}

#header div {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
